__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitmypy_cache
.pytest_cache
.hypothesize

# Project specific
inference_results/
test_images/
captured_frame.jpg
image_rec_server/models/best_yolov5m.pt
image_rec_server/models/best_JH.pt